@charset "utf-8";

*{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  margin: 0;
}

#Header{
  margin: 20px;
}

#Header-Title{
  color: #fff;
  font-size: 27px;
}

#Header-Logout{
  color: #fff;
  float: right;
  font-size: 27px;
}

#button{
  border-radius: 10px;
  padding: 30px;
  margin: 50px;
}

#Link-Text{
  text-decoration: none;
  color: #fff
}