@charset "utf-8";

*{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  margin: 0;
}

//default
  .el-header {
    padding: 0;
    height: 80px !important;
    background-color: #70BDFF;
  }
  .el-main{
    padding: 100px;
  }

//heder
  #Header{
  margin: 20px;
  }

  #Header-Title{
  color: #fff;
  font-size: 27px;
  margin-left: 20px;
  }

  #Header-Logout{
  color: #fff;
  float: right;
  font-size: 27px;
  margin-right: 20px;
  }

  /*@media( max-width: 599px){
    #Header{
      height: 100px;
    }
  }*/

//index
  .container{
    display: flex;
  }

  .buttonHome{
    border-radius: 40px;
    padding: 60px;
    margin: 60px !important;
    font-size: 30px;
  }

//class-select
  .divselect{
    padding: 50px;
    padding-left: 100px;
  }
  .teacher{
    font-size: 30px;
    margin: 10px;
  }
  .buttonClass{
    border-radius: 10px;
    width: 180px;
    float: right;
    font-size: 20px;
  }
  .el-select{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #Link-Text{
  text-decoration: none;
  color: #fff
  }

  //photographing
  .upload-container{
    margin-left: 33%;
    margin-right: 33%;
  }
  .upload-block{
    padding: 30%;
    text-align: center;
    border-style: dashed;
    border-color: #70BDFF;
  }
  .el-icon-plus{
    font-size: 35px;
    color: #70BDFF;
  }
  .upload-image{
    width: 100%;
  }
  .input{
    display: none;
  }
  .camera-block{
    margin-top: 40px;
    font-size: 5px;
    text-align: center;
  }
  .camera-btn{
    background: #409EFF;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
  .camera-icon{
    width: 80%;
    padding: 2.5px;
  }
  .btn-block{
    margin-top: 40px;
    text-align: center;
  }
  .upload-btn{
    border-radius: 20px;
    font-size: 16px;
    padding: 20px;
  }
//スマホ対応css
//photographing
@media (max-width: 599px) {
  .upload-container{
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .upload-image{
    width: 100%;
  }

  .camera-btn{
    background: #409EFF;
    padding: 5px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: inline-block;
  }

  .camera-icon{
    width: 70%;
    padding: 3px;
    margin-top: 3.5px;
  }

  .upload-btn{
    border-radius: 20px;
    font-size: 14px;
    padding: 16px;
  }
}
